.list-container {
    margin-top: 2rem;
    max-height: 500px;
    /* Set the maximum height for the list container */
    overflow-y: auto;
    /* Add a vertical scrollbar when content exceeds the container's height */
    border: 1px solid #ccc;
    /* Optional: Add a border for styling */
   
}

.task{
    background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
}

.subTask{
    background-color:#E1CDFA ;
    width:70%;
    margin-left: 2rem;
}

.scrollable-list {
    list-style: none;
    /* Remove default list bullet points */
    padding: 0;
    /* Remove default padding */
}

.scrollable-list li {
    
    padding: 8px;
    /* Add padding for better readability */
    border-bottom: 1px solid #eee;
    /* Optional: Add a separating line between list items */
}

.scrollable-list li:last-child {
    border-bottom: none;
    /* Remove the border on the last item */
}

.btn{
    margin:0rem 1rem;
}
.form-check{
    padding: 0.3rem;
    border: 1px solid black;
}
.form-check .form-check-input {
    margin-left: 0rem;
}

.form-check-input{
    margin:0.5rem 1rem;
    height:1.5em;
    width:1.5em;

}

.navbar{
    display:flex;
    justify-content: space-around;
}

.container{
    padding: 2rem;
    text-align: center;
    
}
body{
    background-color: rgb(212, 211, 209);

}

.container h1{
    margin: 2rem;
}

.list-container{
    text-align: left;
}

body{
    background: rgb(182, 235, 245);
        background: linear-gradient(90deg, rgba(182, 235, 245, 1) 0%, rgba(160, 136, 116, 1) 51%, rgba(147, 175, 181, 1) 97%);
}

img{
    width: 30rem;
}
